@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
   }
   
 
   body{
    font-family: Helvetica, sans-serif;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #2b2929;



   
   }
   .shadow-wrap{
    border-radius: 1px;
    
    
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.534);
   }
   .form-wrap{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #2322228a, #8a4920d8);
    background-size: 180px;
    padding: 70px;
    

    
   }
   .form-wrap form *{
    display: block;
    width: 100%;
   }
   .form-wrap form label{
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 700;
   line-height: 26px; 
   color: #DAE1F5;
   }
   .form-wrap form input{
   padding: 12px 20px;
   border-radius: 5px;
   border: 1px solid #DAE1F5;
   background: #FFF; 
   color: #545D7A; 
   }
   #id_username{
    margin-bottom: 20px;
   }
   .form-wrap button{
    border-radius: 5px;
   background: #10182F;
   color: #FFF;
   cursor: pointer;
   text-align: center;
   font-size: 16px;
   padding: 12px 68px;
   font-weight: 700;
   border: 1px solid transparent;
   margin-top: 30px;
   line-height: 26px; 
   }
   .signup-link{
    color: #fafafa;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    display: block;
   text-decoration: none;
   }
   .signup-link:hover{
    text-decoration: underline;
   }
   .form-wrap button:hover{
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
   }

   .log-out a{
    color:#f8f6f2;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px; /* Optional: Add margin for spacing */ 
    transition: transform 0.3s ease;
    text-decoration: none;
   }

   .content{
    color: white;

   }

   .black-header {
    color: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

